ul{
	margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}
li{
	list-style: none;
}
.menuList {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	z-index:999999999;
	height: 50px;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
.menuList li{
	flex: 1;
	text-align: center;
	padding-bottom: 0;
	height: 100%;
}


.menuList li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-size: 18px;
	color: #999999;
	box-sizing: border-box;
	line-height: 50px;
}