.wrap {
  text-align: center;
  background: black;
  position: relative;
  width: 100%;
  height: 100%;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


#otherCompBtn{
  position: fixed;
  right: 16px;
  top: 16px;
  z-index: 999;
}