.empty-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.line{
    width: 80px;
    height: 1px;
    background: #DDDDDD;
}

.content{
    padding: 0 12px;
    font-size: 13px;
    font-weight: 400;
    color:rgba(204,204,204,1);
}